// Navigation Styles here

.nav-bar {
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    margin-top: 2rem;
    height: 6rem;
    .links {
        margin: o auto;
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        width: 76%;
        a {
            padding: 1.5rem;
        }
    }
}